* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

img,
picture {
    max-width: 100%;
    display: block;
}

strong,
em {
    font-weight: normal;
    font-style: normal;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}

input {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    outline: none;
}
